footer
    
.developt
    background-color: #D9D9D9
    text-align: center
    color: $prime
    a
        display: inline-block
        padding: 20px

    @media screen and ( max-width: 700px )
        a
            padding: 16px
            font-size: 14px
