@import 'normolize'
@import 'elements'
@import 'header'
@import 'footer'
@import 'modal'

.main
    min-height: 94vh
    max-height: 1200px
    position: relative
    display: flex
    flex-direction: column
    overflow: hidden
    color: #fff
    &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        z-index: -1
        background: linear-gradient(179.74deg, rgba(24, 24, 35, 0.46) 0.2%, rgba(24, 24, 35, 0) 10.56%), linear-gradient(90.21deg, rgba(0, 0, 0, 0.15) 0.17%, rgba(0, 0, 0, 0.15) 45.64%, rgba(0, 0, 0, 0) 60.4%)

    &-content
        padding-top: 10px
        padding-bottom: 150px
        margin: auto

    &__img
        position: absolute
        top: 0
        right: 0
        height: 100%
        width: 100%
        object-fit: cover
        z-index: -111
        background-color: #eee

    p
        max-width: 49%
        // font-size: 32px
        margin-bottom: 40px
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6)

    h1
        margin: 0 0 28px
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)

    .author
        font-family: 'IBM Plex Serif', serif
        text-transform: uppercase
        font-size: 24px
        position: absolute
        bottom: 20%
        right: 10%
        z-index: -1
        background-color: $yelow
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25)
        text-shadow: none
        color: #000
        text-align: center
        line-height: 130%
        padding: 20px 40px 24px

.services
    padding-top: 0
    overflow: hidden
    &__list
        background-color: #fff
        position: relative
        top: -100px
        width: 100%
        max-width: 1600px
        margin: 0 auto
        display: flex
        align-items: center
        gap: 10px
        justify-content: center
        list-style: none
        box-shadow: 0px 3px 97px rgba(0, 0, 0, 0.25)
        a
            opacity: 1 !important
            text-align: center
            padding: 33px
            display: inline-block
            z-index: 1
            position: relative
            &::before
                content: ''
                display: none
                width: 100%
                height: 120%
                top: -10%
                left: 0
                position: absolute
                z-index: -11
                background-color: $prime
                box-shadow: 0px 4px 86px rgba(0, 0, 0, 0.15)
            &.active
                color: #fff
                img
                    filter: invert(10)
                &::before
                    display: block

        img
            margin-bottom: 15px

        b
            display: block
            font-size: 24px
            line-height: 29px
        p
            margin: 0
            font-size: 20px
            line-height: 29px

    .item
        display: flex
        justify-content: space-between
        padding: 50px 0
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            width: 100vw
            height: 100%
            z-index: -1
            position: absolute
            left: 50%
            top: 0
            transform: translateX(-50%)
            transition: .3s ease-in all
        &:nth-of-type(even)::before
            background-color: $yelow

        img
            width: 110px
            min-width: 110px
            align-self: flex-start

        .title
            max-width: 65%
            padding-right: 40px

        .price
            margin: 0 0 22px
            text-align: right
            font-weight: 500
            font-size: 36px
            line-height: 140%
            &.sm
                font-size: 20px
                line-height: 140%
                b
                    font-size: 24px

                span
                    font-size: 16px

        &.point
            &::before
                background-color: rgba(red, .1) !important

        p
            margin-bottom: 15px

    .box
        background: linear-gradient(42.8deg, #2543A0 3.92%, #537FE7 100%)
        padding: 42px 42px 0
        margin-bottom: 4%
        width: 48%
        color: #fff
        transition: all ease .3s
        p
            margin: 0

        .heading
            font-weight: 600
            font-size: 26px
            line-height: 32px
            width: calc( 100% - 130px )
            span
                display: block
                font-weight: 400
                font-size: 16px
                line-height: 150%

        .price
            font-weight: 600
            font-size: 26px
            line-height: 32px

        img
            min-width: 95px

        .wrap
            margin-bottom: 42px

        .btn
            background-color: #fff
            color: #000

        &:hover
            box-shadow: 0 10px 30px -5px rgba($second, .5)

.features
    overflow: hidden
    &-content
        width: 48%
        color: #fff
        position: relative
        z-index: 1
        padding: 70px 0 40px
        &::before
            content: ''
            display: block
            width: 250%
            height: 100%
            position: absolute
            left: 50%
            top: 0
            z-index: -1
            background-color: $prime
            transform: translateX(-50%)

    .item
        display: flex
        align-items: center
        margin-bottom: 30px
        img
            margin: 0 20px 0 0
            min-width: 49px

        p
            max-width: calc( 100% - 70px )
            margin: 0
            span
                opacity: .4

    &-img
        max-width: 45%
        position: relative
        z-index: 100
        top: -100px
        .info
            position: absolute
            right: -50px
            top: 10%
            &:nth-of-type(2)
                top: 70%
                right: -70px

.reviews 
    h2 
        margin-bottom: 82px
    &-slider 
        justify-content: center
        gap: 25px

.review
    display: inline-block
    width: 415px
    &-body
        background: linear-gradient(42.8deg, #2543A0 3.92%, #537FE7 100%)
        border-radius: 0px 96px 0px 0px
        padding: 80px 32px
        color: #fff
        min-height: 395px
        font-weight: 600
        font-size: 20px
        line-height: 140%
        position: relative
        &::before
            content: ''
            display: inline-block
            width: 40px
            height: 40px
            background-color: $second
            position: absolute
            z-index: -1
            bottom: -10px
            left: 15%
            transform: rotate(255deg) skew(20deg)

    .wrapper
        justify-content: start
        align-items: center
        img
            width: 70px
            height: 70px
            border-radius: 50%
            border: 1px solid #000000
            box-shadow: 0px 4px 28px -5px rgba(0, 0, 0, 0.25)
            margin-right: 15px

        span
            display: block
        p
            margin: 0

    .name
        font-weight: 700
        font-size: 20px
        line-height: 140%

    .descr
        font-weight: 400
        font-size: 16px
        line-height: 140%

@media screen and ( max-width: 1600px )
    .main
        &-content
            padding-bottom: 60px
    .services
        &__list
            top: -40px
            max-width: 92%
            gap: 5px
            a

            p
                font-size: 16px
                line-height: 100%
            b
                font-size: 18px
                margin-bottom: 0

            img
                max-width: 60px
                margin-bottom: 3px

@media screen and ( max-width: 1200px )
    .main
        text-align: center
        height: unset
        max-height: unset
        &-content
            padding-top: 40px
            padding-bottom: 60px
        h1
            left: 0
            margin: 0 0 30px
            &::before
                display: none

        p
            margin: 0 auto 40px
            max-width: 100%
            margin-bottom: 30px

        &__img

        .btn
            display: none
            &.mobile
                display: inline-block
                position: relative
                top: -40px
                margin: 0

        .phone
            border-top: 1px solid rgba(0, 0, 0, .1)
            padding: 17px 0 0
            width: 100%
            max-width: 500px
            margin: 0 auto
            display: block
            text-align: center

@media screen and ( max-width: 700px )
    .main
        p
            font-size: 12px
